<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
		<title>发表评论</title>
		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="https://cdn.bootcss.com/amazeui/2.5.1/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="../css/personal.css" rel="stylesheet" type="text/css">
		<link href="../css/appstyle.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="../js/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="../js/base.js"></script>
		<script type="text/javascript" src="../js/service/loginService.js"></script>
		<script type="text/javascript" src="../js/service/commentsService.js"></script>
		<script type="text/javascript" src="../js/controller/commentsController.js"></script>
		<link href="../css/commentslist.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="../js/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../js/comments.js"></script>
		<script type="text/javascript" src="../js/service/uploadService.js"></script>
	</head>

	<body ng-app="brd" ng-controller="userCommentsController" ng-init="init()" id="userCommentsController">
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="header-top">
						<div class="am-container header">
							<ul class="message-l">
								<div class="topMessage">
									<div class="menu-hd">
										<a href="" target="_top" class="h">{{loginName}}</a>
										<a href="../logout/cas" target="_top">退出登录</a>
									</div>
								</div>
							</ul>
							<ul class="message-r">
								<div class="topMessage my-shangcheng">
									<div class="menu-hd MyShangcheng"><a href="../person/index.html" target="_top">会员中心</a></div>
								</div>
								<div class="topMessage mini-cart">
									<div class="menu-hd"><a id="mc-menu-hd" href="shopcart.html" target="_top"><span>商户中心</span><strong id="J_MiniCartNum" class="h"></strong></a></div>
								</div>
								<div class="topMessage favorite">
									<div class="menu-hd"><a href="#" target="_top"><span>帮助</span></a></div>
								</div>
							</ul>
						</div>
					</div>

						<!--悬浮搜索框-->

						<div class="nav white">
							<div class="logoBig">
								<li><img src="../images/logobig.png" /></li>
							</div>

							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form>
									<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
									<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-comment">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">发表评论</strong> / <small>Make&nbsp;Comments</small></div>
						</div>
						<hr/>

						<div class="comment-main">
							<div class="comment-list">
								<div class="item-pic">
									<a href="" class="J_MakePoint" style="width: 100px;height: 100px;">
										<img ng-src="{{goods.picPath}}" class="itempic" width="100" height="130">
									</a>
								</div>

								<div class="item-title">

									<div class="item-name">
										<br>
										<a href="">
											<p class="item-basic-info">{{goods.title}}</p>
										</a>

									</div>
									<div class="item-info">
										<div class="info-little">
											<br>
											<span>数量:{{goods.num}}</span>
											<span></span><br>
											<br>
										</div>
										<div class="item-price">
											价格：<strong>{{goods.price}}元</strong>
										</div>										
									</div>
								</div>
								<div class="clear"></div>
								<div class="item-comment"  style="margin-left: 20px;">
									<textarea placeholder="请写下对宝贝的感受吧，对他人帮助很大哦！" ng-model="commentscontent"></textarea>
								</div>
								<br><br><br><br><br><br><br><br>
								<div class="filePic" style="margin-left: 20px;">
									<input type="file" id="file" class="upload" allowexts="gif,jpeg,jpg,png,bmp" accept="image/*" style="display: none">
									<div class="upload_btn">晒照片({{commentsBody.images.length}}/5)</div><br>
									<div class="img_body" style="width: 100%">
										<div class="imgItem">
											<div style="border:1px solid blue;display: inline-block;width: 100px;height: 100px; position:relative;" ng-repeat="picpath in commentsBody.images">
												<img ng-src="{{picpath}}" width="100" height="100">
												<span  style="display: inline-block;color:red;position: absolute;top: 0px;right: 0px;font-size: 20px;" ng-click="deletePic($index)">X</span>
											</div>
										</div>
									</div>
								</div>
								<div class="item-opinion" style="margin-left: 20px;">
									<div class="" style="font-size: 18px;">商品满意度</div>
									<div class="box">
										<div class="list">
											<a href="" class="star1">★</a>
											<a href="" class="star2">★</a>
											<a href="" class="star3">★</a>
											<a href="" class="star4">★</a>
											<a href="" class="star5">★</a>
										</div>
									</div>
								</div>
							</div>
							<div class="info-btn">
								<div class="am-btn am-btn-danger" ng-click="publisComments()">发表评论</div>
							</div>
						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-bd">
						<p>
							<a href="#">关于</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2016-2026 XXXX 版权所有 <a href="" target="_blank" title="版权所有">版权所有</a> - Collect from</em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person">
						<a href="index.html">个人中心</a>
					</li>
					<li class="person">
						<a href="#">个人资料</a>
						<ul>
							<li> <a href="information.html">个人信息</a></li>
							<li> <a href="safety.html">安全设置</a></li>
							<li> <a href="address.html">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的交易</a>
						<ul>
							<li><a href="order.html">订单管理</a></li>
							<li> <a href="change.html">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的资产</a>
						<ul>
							<li> <a href="coupon.html">优惠券 </a></li>
							<li> <a href="bonus.html">红包</a></li>
							<li> <a href="bill.html">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>
							<li class="active"> <a href="comment.html">评价</a></li>
							<li> <a href="news.html">消息</a></li>
						</ul>
					</li>

				</ul>

			</aside>
		</div>

	</body>
	<script type="text/javascript">
		$(document).ready(function() {
			//图片上传选择
			$(".upload_btn").on('click',function(){

				//调用文件上传按钮
				$(".upload").click();

			});
			//选择文件后调用上传
			$(".upload").on("change",function(){
				if($(".upload").val()!=''){
					//通过controller来获取Angular应用
					var appElement = document.querySelector('[ng-controller=userCommentsController]');
					//获取$scope变量
					var $scope = angular.element(appElement).scope();
					$scope.uploadSelected();
				}
				//console.log("选择了文件："+$(".upload").val());
			});
			var scope = angular.element(document.getElementById("userCommentsController")).scope();
			$(".comment-list .item-opinion .list .star1").click(
					function () {
						scope.remark=1.0;
					}
			);
			$(".comment-list .item-opinion .list .star2").click(
					function () {
						scope.remark=2.0;
					}
			);
			$(".comment-list .item-opinion .list .star3").click(
					function () {
						scope.remark=3.0;
					}
			);
			$(".comment-list .item-opinion .list .star4").click(
					function () {
						scope.remark=4.0;
					}
			);
			$(".comment-list .item-opinion .list .star5").click(
					function () {
						scope.remark=5.0;
					}
			);
		})
	</script>
</html>