<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>订单管理</title>

		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="https://cdn.bootcss.com/amazeui/2.5.1/css/amazeui.css" rel="stylesheet" type="text/css" />

		<link href="../css/personal.css" rel="stylesheet" type="text/css">
		<link href="../css/orstyle.css" rel="stylesheet" type="text/css">

		<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		<script src="https://cdn.bootcss.com/amazeui/2.5.1/js/amazeui.min.js"></script>

		<script type="text/javascript" src="../js/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="../js/base.js"></script>
		<script type="text/javascript" src="../js/service/loginService.js"></script>
		<script type="text/javascript" src="../js/service/orderService.js"></script>
		<script type="text/javascript" src="../js/controller/orderController.js"></script>
		<script type="text/javascript" src="../js/service/payService.js"></script>
		<link href="../js/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="../js/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/qrious.min.js"></script>
		<style>
			.modal-body .none{
			   background-image:url("../images/paysuccess.png");
			}
		</style>
	</head>

	<body ng-app="brd" ng-controller="orderController" ng-init="init()">
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="header-top">
						<div class="am-container header">
							<ul class="message-l">
								<div class="topMessage">
									<div class="menu-hd">
										<a href="" target="_top" class="h">{{loginName}}</a>
										<a href="../logout/cas" target="_top">退出</a>
									</div>
								</div>
							</ul>
							<ul class="message-r">
								<div class="topMessage my-shangcheng">
									<div class="menu-hd MyShangcheng"><a href="../person/index.html" target="_top">会员中心</a></div>
								</div>
								<div class="topMessage mini-cart">
									<div class="menu-hd"><a id="mc-menu-hd" href="shopcart.html" target="_top"><span>商户中心</span><strong id="J_MiniCartNum" class="h"></strong></a></div>
								</div>
								<div class="topMessage favorite">
									<div class="menu-hd"><a href="#" target="_top"><span>帮助</span></a></div>
								</div>
							</ul>
						</div>
					</div>

						<!--悬浮搜索框-->

						<div class="nav white">
							<div class="logoBig">
								<li><img src="../images/logobig.png" /></li>
							</div>

							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form>
									<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
									<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-order">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> / <small>Order</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1" ng-click="showAllOrder()">历史订单</a></li>
								<li><a href="#tab2" ng-click="waitPayment()">待付款</a></li>
								<li><a href="#tab3" ng-click="waitSendGoods()">待发货</a></li>
								<li><a href="#tab4" ng-click="waitReceiveGoods()">待收货</a></li>
								<li><a href="#tab5" ng-click="waitComments()">待评价</a></li>
							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top" ng-if="total!=0">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<!--不同状态的订单	-->
											<div class="order-status4" ng-repeat=" item in orderList">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{item.orderId}}</a></div>
													<span>成交时间：{{item.createTime}}</span>

												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list" ng-repeat="orderItem in item.orderItems">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="" class="J_MakePoint">
																		<img ng-src="{{orderItem.picPath}}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="">
																			<p>{{orderItem.title}}</p>
																			<p class="info-little">
																				<span ng-repeat="(key,value) in praseJson(orderItem.spec)">{{key}}:{{value}}<br/></span>
																			</p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{orderItem.price}}元
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{orderItem.num}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<a href=""></a>
																</div>
															</li>
														</ul>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{item.totalFee}}元
																<p>含运费：<span>00.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="orderinfo.html#?orderId={{item.orderId}}&status={{item.status}}">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change">
																<a href="">
																	<div class="am-btn am-btn-danger anniu" ng-click="delOrderByOrderId(item.orderId)">
																		删除订单</div>
																</a>
															</li>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div style="border:2px solid darkgray;margin-top:10px;text-align: center" ng-if="isEndPage()==false" ng-click="getMoreInfo()">
											更多信息
										</div>
										<div style="margin-top:10px;text-align: center" ng-if="isEndPage()==true && total!=0">
											到底了~~~
										</div>
									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab2">

									<div class="order-top" ng-if="waitPayment_len!=0">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<div class="order-status1" ng-repeat="item in  waitPaymentOrder">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{item.outTradeNo}}</a></div>
													<span>成交时间：{{item.createTime}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list" ng-repeat="order in item.orderItems">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="" class="J_MakePoint">
																		<img ng-src="{{order.picPath}}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{{order.title}}</p>
																			<p class="info-little">
																				<span ng-repeat="(key,value) in praseJson(order.spec)">{{key}}:{{value}}<br></span>
																			</p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{order.price}}元
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{order.num}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>

													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{item.totalFee}}元
																<p>含运费：<span>00.00元</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">等待买家付款</p>
																	<p class="order-info"><a href="" ng-click="cancelOrder(item.outTradeNo)">取消订单</a></p>

																</div>
															</li>
															<li class="td td-change">
																<a href="" ng-click="payMent(item.outTradeNo,item.totalFee)">
																<div class="am-btn am-btn-danger anniu"  data-toggle="modal" data-target="#myModal">
																	一键支付</div></a>
															</li>
														</div>
													</div>

												</div>
											</div> <!--end-->
										</div>

									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab3">
									<div class="order-top" ng-if="total!=0">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<div class="order-status2" ng-repeat="item in orderList">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{item.orderId}}</a></div>
													<span>成交时间：{{item.createTime}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list" ng-repeat="orderItem in item.orderItems">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="" class="J_MakePoint">
																		<img ng-src="{{orderItem.picPath}}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{{orderItem.title}}</p>
																			<p class="info-little">
																				<span ng-repeat="(key,value) in praseJson(orderItem.spec)">{{key}}:{{value}}<br/></span>
																			</p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{orderItem.price}}元
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{orderItem.num}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="refund.html#?outTradeNo={{item.outTradeNo}}&orderItemId={{orderItem.id}}&sellerId={{orderItem.sellerId}}">退款</a>
																</div>
															</li>
														</ul>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{item.totalFee}}元
																<p>含运费：<span>00.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a href="orderinfo.html#?orderId={{item.orderId}}&status={{item.status}}">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	提醒发货</div>
															</li>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div style="border:2px solid darkgray;margin-top:10px;text-align: center" ng-if="isEndPage()==false" ng-click="getMoreInfo()">
											更多信息
										</div>
										<div style="margin-top:10px;text-align: center" ng-if="isEndPage()==true && total!=0">
											到底了~~~
										</div>
									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab4">
									<div class="order-top" ng-if="total!=0">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<div class="order-status3" ng-repeat="item in orderList">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{item.orderId}}</a></div>
													<span>成交时间：{{item.createTime}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list" ng-repeat="orderItem in item.orderItems">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="" class="J_MakePoint">
																		<img ng-src="{{orderItem.picPath}}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{{orderItem.title}}</p>
																			<p class="info-little">
																				<span ng-repeat="(key,value) in praseJson(orderItem.spec)">{{key}}:{{value}}<br/></span>
																			</p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{orderItem.price}}元
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{orderItem.num}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="refund.html#?outTradeNo={{item.outTradeNo}}&orderItemId={{orderItem.id}}&sellerId={{orderItem.sellerId}}">退款/退货</a>
																</div>
															</li>
														</ul>

													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{item.totalFee}}元
																<p>含运费：<span>00.00元</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="order-info"><a href="orderinfo.html#?orderId={{item.orderId}}&status={{item.status}}">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																	<p class="order-info"><a href="#">延长收货</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	确认收货</div>
															</li>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div style="border:2px solid darkgray;margin-top:10px;text-align: center" ng-if="isEndPage()==false" ng-click="getMoreInfo()">
											更多信息
										</div>
										<div style="margin-top:10px;text-align: center" ng-if="isEndPage()==true && total!=0">
											到底了~~~
										</div>
									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab5">
									<div class="order-top" ng-if="total!=0">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<!--不同状态的订单	-->
										<div class="order-status4" ng-repeat=" item in orderList">
											<div class="order-title">
												<div class="dd-num">订单编号：<a href="javascript:;">{{item.orderId}}</a></div>
												<span>成交时间：{{item.createTime}}</span>

											</div>
											<div class="order-content">
												<div class="order-left">
													<ul class="item-list" ng-repeat="orderItem in item.orderItems">
														<li class="td td-item">
															<div class="item-pic">
																<a href="" class="J_MakePoint">
																	<img ng-src="{{orderItem.picPath}}" class="itempic J_ItemImg">
																</a>
															</div>
															<div class="item-info">
																<div class="item-basic-info">
																	<a href="">
																		<p>{{orderItem.title}}</p>
																		<p class="info-little">
																			<span ng-repeat="(key,value) in praseJson(orderItem.spec)">{{key}}:{{value}}<br/></span>
																		</p>
																	</a>
																</div>
															</div>
														</li>
														<li class="td td-price">
															<div class="item-price">
																{{orderItem.price}}元
															</div>
														</li>
														<li class="td td-number">
															<div class="item-number">
																<span>×</span>{{orderItem.num}}
															</div>
														</li>
														<li class="td td-operation">
															<div class="item-operation">
																<a href="refund.html#?outTradeNo={{item.outTradeNo}}&orderItemId={{orderItem.id}}&sellerId={{orderItem.sellerId}}">退款/退货</a>
															</div>
														</li>
													</ul>
												</div>
												<div class="order-right">
													<li class="td td-amount">
														<div class="item-amount">
															合计：{{item.totalFee}}元
															<p>含运费：<span>00.00</span></p>
														</div>
													</li>
													<div class="move-right">
														<li class="td td-status">
															<div class="item-status">
																<p class="Mystatus">交易成功</p>
																<p class="order-info"><a href="orderinfo.html#?orderId={{item.orderId}}&status={{item.status}}">订单详情</a></p>
																<p class="order-info"><a href="logistics.html">查看物流</a></p>
															</div>
														</li>
														<li class="td td-change">
															<a href="commentlist.html">
																<div class="am-btn am-btn-danger anniu">
																	评价商品</div>
															</a>
														</li>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div style="border:2px solid darkgray;margin-top:10px;text-align: center" ng-if="isEndPage()==false" ng-click="getMoreInfo()">
										更多信息
									</div>
									<div style="margin-top:10px;text-align: center" ng-if="isEndPage()==true && total!=0">
										到底了~~~
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 模态框（Modal） -->
				<div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<p class="modal-title" id="myModalLabel">
									金额:{{money}}元  订单编号:{{out_trade_no}}
								</p>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
							</div>
							<div class="modal-body" style="width: 300px;height: 300px;text-align: center; margin-left: 100px;position: relative">
								<img id="qrious" >
								<div class="none" style="width: 128px;height: 128px;position: absolute;left:25%;top:25%;opacity: 0.6" ng-if="flag==1"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:white;">
								</button>
								<button type="button" class="btn btn-primary" style="background-color:white;border:0px;">

								</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal -->
				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于百优集</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2016-2026 XXXX 版权所有 <a href="http://www.cssmoban.com/" target="_blank" title="版权所有">版权所有</a> - Collect from</em>
						</p>
					</div>

				</div>
			</div>
			<aside class="menu">
				<ul>
					<li class="person">
						<a href="index.html">个人中心</a>
					</li>
					<li class="person">
						<a href="#">个人资料</a>
						<ul>
							<li> <a href="information.html">个人信息</a></li>
							<li> <a href="safety.html">安全设置</a></li>
							<li> <a href="address.html">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的交易</a>
						<ul>
							<li class="active"><a href="order.html">订单管理</a></li>
							<li> <a href="change.html">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的资产</a>
						<ul>
							<li> <a href="coupon.html">优惠券 </a></li>
							<li> <a href="bonus.html">红包</a></li>
							<li> <a href="bill.html">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>
							<li> <a href="comment.html">评价</a></li>
							<li> <a href="news.html">消息</a></li>
						</ul>
					</li>

				</ul>

			</aside>
		</div>

	</body>

</html>