<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>退换货</title>

		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="https://cdn.bootcss.com/amazeui/2.5.1/css/amazeui.css" rel="stylesheet" type="text/css" />

		<link href="../css/personal.css" rel="stylesheet" type="text/css">
		<link href="../css/refstyle.css" rel="stylesheet" type="text/css">

		<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		<script src="https://cdn.bootcss.com/amazeui/2.5.1/js/amazeui.min.js"></script>

		<script type="text/javascript" src="../js/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="../js/base.js"></script>
		<script type="text/javascript" src="../js/service/loginService.js"></script>
		<script type="text/javascript" src="../js/service/refundService.js"></script>
		<script type="text/javascript" src="../js/service/orderService.js"></script>
		<script type="text/javascript" src="../js/service/uploadService.js"></script>
		<script type="text/javascript" src="../js/controller/refundController.js"></script>

	</head>

	<body ng-app="brd" ng-controller="refundController" ng-init="init()">
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="header-top">
						<div class="am-container header">
							<ul class="message-l">
								<div class="topMessage">
									<div class="menu-hd">
										<a href="" target="_top" class="h">{{loginName}}</a>
										<a href="../logout/cas" target="_top">退出</a>
									</div>
								</div>
							</ul>
							<ul class="message-r">
								<div class="topMessage my-shangcheng">
									<div class="menu-hd MyShangcheng"><a href="../person/index.html" target="_top">会员中心</a></div>
								</div>
								<div class="topMessage mini-cart">
									<div class="menu-hd"><a id="mc-menu-hd" href="shopcart.html" target="_top"><span>商户中心</span><strong id="J_MiniCartNum" class="h"></strong></a></div>
								</div>
								<div class="topMessage favorite">
									<div class="menu-hd"><a href="#" target="_top"><span>帮助</span></a></div>
								</div>
							</ul>
						</div>
					</div>

						<!--悬浮搜索框-->

						<div class="nav white">
							<div class="logoBig">
								<li><img src="../images/logobig.png" /></li>
							</div>

							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form>
									<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
									<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<!--标题 -->
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">退换货申请</strong> / <small>Apply&nbsp;for&nbsp;returns</small></div>
					</div>
					<hr/>
					<div class="comment-list" >
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-{{status>=0?'1':'2'}} step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">买家申请退款</p>
                            </span>
							<span class="step-{{status>=1?'1':'2'}} step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">商家处理退款申请</p>
                            </span>
							<span class="step-{{status>=2?'1':'3'}} step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">3<em class="bg"></em></i>
                                <p class="stage-name">{{status==3?'退款失败':'款项成功退回'}}</p>
                            </span>                            
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					
					<div style="border:1px solid darkgray;color:red;" ng-if="status==3">
						{{tbRefund.reply}}
					</div>
						<div class="refund-aside" ng-repeat="item in orderDetailList.orderItems">
							<div class="item-pic">
								<a href="" class="J_MakePoint">
									<img ng-src="{{item.picPath}}" class="itempic">
								</a>
							</div>

							<div class="item-title">

								<div class="item-name">
									<a href="#">
										<p class="item-basic-info">{{item.title}}</p>
									</a>
								</div>
								<div class="info-little">
									<span ng-repeat="(key,value) in praseJson(item.spec)">{{key}}:{{value}}<br/></span>
								</div>
							</div>
							<div class="item-info">
								<div class="item-ordernumber">
									<span class="info-title">订单编号：</span><a>{{item.orderId}}</a>
								</div>
								<div class="item-price">
									<span class="info-title">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</span><span class="price">{{item.price}}元</span>
									<span class="number">×{{item.num}}</span><span class="item-title">(数量)</span>
								</div>
								<div class="item-amount">
									<span class="info-title">小&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计：</span><span class="amount">00.00元</span>
								</div>
								<div class="item-pay-logis">
									<span class="info-title">运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：</span><span class="price">00.00元</span>
								</div>
								<div class="item-amountall">
									<span class="info-title">总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计：</span><span class="amountall">{{item.price*item.num}}元</span>
								</div>
								<div class="item-time">
									<span class="info-title">成交时间：</span><span class="time">{{orderDetailList.createTime}}</span>
								</div>

							</div>
							<div class="clear"></div>
						</div>

						<div class="refund-main">
							<div class="item-comment">
								<div class="am-form-group">
									<label for="refund-type" class="am-form-label">退款类型</label>
									<div class="am-form-content">
										<select  ng-model="tbRefund.refundType">
											<option value="1" selected>仅退款</option>
											<option value="2">退款/退货</option>
										</select>
									</div>
								</div>
								
								<div class="am-form-group">
									<label for="refund-reason" class="am-form-label">退款原因</label>
									<div class="am-form-content">
										<select  ng-model="tbRefund.refundReason">
											<option value="2">不想要了</option>
											<option value="3">买错了</option>
											<option value="4">没收到货</option>
											<option value="5">与说明不符</option>
										</select>
									</div>
								</div>

								<div class="am-form-group">
									<label for="refund-money" class="am-form-label">退款金额(元)<span></span></label>
									<div class="am-form-content">
										<input type="text" id="refund-money" readonly="readonly"  ng-model="price">
									</div>
								</div>
								<div class="am-form-group">
									<label for="refund-info" class="am-form-label">退款说明<span>（可不填）</span></label>
									<div class="am-form-content">
										<textarea placeholder="请输入退款说明" ng-model="tbRefund.refundInstruction"></textarea>
									</div>
								</div>

							</div>
							<div class="refund-tip">
								<div class="filePic" style="display: inline-block;border:1px solid darkgray" ng-repeat="img in images">
									<img ng-src="{{img}}" alt=""  class="upload_btn">
									<div style="position: absolute;top:0;right: 0;color:red;cursor: pointer" ng-click="deletePic($index)">X</div>
								</div>
								<div class="filePic" style="display: inline-block;">
									<input style="display: none;" type="file" id="file" class="upload" accept="image/png,image/jpg,image/gif,image/JPEG">
									<img src="../images/image.jpg" alt="" ng-if="images.length<=2" class="upload_btn">
								</div>
								<span class="desc">{{images.length}}/3</span>
							</div>
							<div class="info-btn">
								<div ng-if="status!=2" class="am-btn am-btn-danger" ng-click="submit()" {{flag==3?'disable':''}}>{{flag==0||flag==4?'提交申请':'撤回申请'}}</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<script>
					$(function(){
						//图片上传选择
						$(".upload_btn").on('click',function(){
							//调用文件上传按钮
							$(".upload").click();

						});
						//选择文件后调用上传
						$(".upload").on("change",function(){

							if($(".upload").val()!=''){
								//通过controller来获取Angular应用
								var appElement = document.querySelector('[ng-controller=refundController]');
								//获取$scope变量
								var $scope = angular.element(appElement).scope();
								$scope.uploadSelected();
							}
							//console.log("选择了文件："+$(".upload").val());
						});
					});
				</script>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2016-2026 XXXX 版权所有 <a href="http://www.cssmoban.com/" target="_blank" title="版权所有">版权所有</a> - Collect from</em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="index.html">个人中心</a>
					</li>
					<li class="person">
						<a href="#">个人资料</a>
						<ul>
							<li> <a href="information.html">个人信息</a></li>
							<li> <a href="safety.html">安全设置</a></li>
							<li> <a href="address.html">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的交易</a>
						<ul>
							<li><a href="order.html">订单管理</a></li>
							<li> <a href="change.html">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的资产</a>
						<ul>
							<li> <a href="coupon.html">优惠券 </a></li>
							<li> <a href="bonus.html">红包</a></li>
							<li> <a href="bill.html">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>
							<li> <a href="comment.html">评价</a></li>
							<li> <a href="news.html">消息</a></li>
						</ul>
					</li>

				</ul>

			</aside>
		</div>

	</body>

</html>